[user]
	email = Andy_Tsai@quantatw.com
	name = Andy_Tsai
[color]
	ui = auto
[push]
	default = simple
[alias]
	br = branch
	co = checkout
	st = status
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	a = add
        l = log
	d = diff
	m = merge
